#toc {
  /*float: left;*/
  position:fixed;
  width: 10em;
  left: 0px;
  top: 10em;
}

#toc a {
  color: black;
}

#toc .toc-H2 a {
  font-size: 0.8em;
}

#toc .toc-H3 a, #toc .toc-H4 a {
  font-size: 0.7em;
  color: #666;
}
